<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Memories Disk</title>
    <link rel="icon" href="../static/icons/favicon.ico">
    <meta name="viewport" content="width=device-width, intitila-scale=1.0">
    <!-- Google Font -->
    <!-- Main heading Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Ephesis&display=swap" rel="stylesheet">
    <!-- Introduction heading font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Satisfy&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/home_page.css">
  </head>
  <body>
    <nav class="navbar navbar-light bg-light" id="nav-2">
       <div class="container-fluid">
        <div id="index-heading">
          <img src="../static/icons/favicon-32x32.png"><em> <b>Memories Disk</b></em>
        </div>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search people" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
       </div>
      </nav>
    <div id="purple">
      <div id="heading">
        <img src="../static/images/memories-disk-logos_transparent.png" alt="" id="image-logo">
      </div>
    </div>
    <div id="Introduction">
      <h2 id="intro-heading">Introduction</h2>
      <div id="intro-contents">
       <div id="images">
         <img id="image" src="../static/images/Blog image.png"/>
       </div>
       <p id="introduction">Hello. This is a website where you can write and store your blogs, you can also search other people and read their blogs if they made them public. You will have a choice of keeping the blog private or public. People other than you will be able to read your blog only if you made them public otherwise they can be read only by you. Warning: Even when the blog is set to private it is adviced to not write any unnecessary private information.</p>
     </div>
    </div>
    <div id="End">
      <div id="login-or-sign-up">
        <div class="input-group flex-nowrap" id="bootstrap-input">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <button type="button" class="btn btn-primary" id="login">Log in</button>
        <button type="button" class="btn btn-primary" id="sign-up">Sign Up</button>
        <div id="final-words">
          <div id="final-image">
            <img src="../static/images/BYE.png" alt="" id="bye-message">
          </div>
          <div id="final-text">
            <p id="final-sentence">Thank You for visiting!</p>
          </div>
        </div>
      </div>
      <div id="end-image">
      </div>
    </div>
  </body>
</html>
